<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Quality Index</title>
</head>
<body>
       <div>
        {% block content%}
        {% endblock %}
       </div> 
       <div>
        {% block graph1%}
        {% autoescape off%}
            {{plot1 | safe}}
        {% endautoescape %}
        {% endblock %}
       </div>
       <div>
        {% block graph2%}
        {% autoescape off%}
            {{plot2 | safe}}
        {% endautoescape %}
        {% endblock %}
       </div>
       <div>
        {% block graph3%}
        {% autoescape off%}
            {{plot3 | safe}}
        {% endautoescape %}
        {% endblock %}
       </div>
       <div>
        {% block graph4%}
        {% autoescape off%}
            {{plot4 | safe}}
        {% endautoescape %}
        {% endblock %}
       </div>
       <div>
        {% block graph5%}
        {% autoescape off%}
            {{plot5 | safe}}
        {% endautoescape %}
        {% endblock %}
       </div>
</body>
</html>